* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%; /* 팝업의 가로 너비를 조정합니다. */
    max-height: 80%; /* 팝업의 최대 세로 높이를 조정합니다. */
    overflow-y: auto; /* 세로 스크롤이 필요할 때 스크롤 표시됩니다. */
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content label {
    display: block;
    margin-bottom: 10px; /* 여백을 더 넓혔습니다. */
}

.popup-content input[type="email"],
.popup-content input[type="text"],
.popup-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup-content button {
    width: 100%;
    padding: 12px 0; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: #0056b3;
}

.popup-content .gender-selection {
    display: flex;
    align-items: center; /* 수직 정렬 설정 */
}

.popup-content .gender-selection label {
    margin-right: 10px;
}

.popup-content .gender-selection button {
    margin-top: 0; /* 기본적으로 적용되는 마진을 제거합니다. */
    align-self: center; /* 수직 정렬 설정 */
}
