.block-3 .owl-stage {
  padding-top: 40px;
  padding-bottom: 40px;
}

.block-3 .owl-nav {
  position: relative;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block-3 .owl-nav .owl-prev,
.block-3 .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: #979dc2;
}

.block-3 .owl-nav .owl-prev:hover,
.block-3 .owl-nav .owl-next:hover {
  color: #25262a;
}

.block-3 .owl-nav .owl-prev.disabled,
.block-3 .owl-nav .owl-next.disabled {
  opacity: .2;
}

.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.block-4 .block-4-text h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.block-4 .block-4-text h3 a {
  text-decoration: none;
}

.item {
  cursor: pointer;
}