<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tarot Arcana</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/x-icon" href="../static/images/chunsik.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/magnific-popup.css">
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="../static/css/aos.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <!-- <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form> -->
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">TAROT ARCANA</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <!-- <li><a href="#"><span class="icon icon-person"></span></a></li> -->
                  <li>
                    <a href="#" id="openPopup" onclick="openPopup()">
                      <!-- <span class="subscribe-text">구독버튼&nbsp;→&nbsp;</span> -->
                      <span class="icon icon-bell-o"></span>
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li><a href="/about">소개</a></li>
            <li><a href="/selectmodel">대화하기</a></li>
            <li><a href="/fortune">오늘의 운세</a></li>
            <li><a href="https://tidal-tile-dfe.notion.site/f642d017427f42c1a426c1f7de284876?pvs=4">타로&nbsp이야기</a></li>
            <li><a href="/contact">고객지원</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">About</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="../static/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="ion-md-play"></span></a>

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">


            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black"><b>프로젝트 아르카나,<br>우리의 시작.</b></h2>
            </div>
            <p><b>아르카나(Arcana)</b>는 비밀이라는 뜻의 라틴어입니다. 현대인에게는 비밀이 너무 많습니다. 말 못할 고민도 하나씩 가지고 있죠.</p>
            <p>팀 아르카나는 고민에서 출발했습니다. 현대인의 고민을 조금이라도 해소할 방법은 없을까? 이때 엘리자(Eliza), 세계 최초의 챗봇이 눈에 들어왔습니다. 엘리자는 최초의 인공지능 상담사로,
              많은 사람이 위로받았다고 전해집니다. 우리는 챗봇 아르카나로써 막연한 미래에 대해 함께 고민하고자 합니다. 아르카나와 함께라면 막연한 두려움도 많이 사그라들 거예요.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Team Arcana</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">

            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/sa.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">석상아</h3>
                  <p class="block-38-subheading">프론트,&nbsp;디자인</p>
                </div>
                <div class="block-38-body">
                  <p>냉무</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/mj.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">한민지</h3>
                  <p class="block-38-subheading">프론트,&nbsp;백엔드</p>
                </div>
                <div class="block-38-body">
                  <p>"노는게 제일 좋아~"
                    <br>아니야! 나는 먹는 게 더 좋아.
                    <br>(인생을) 날로 먹고 싶어..
                    <br>회, 육회, 타다끼.....
                    <br>맛있는 걸 먹으면 행복해져.
                    <br>먹는 것은 곧 삶이지!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/sm.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">이소명</h3>
                  <p class="block-38-subheading">백엔드,&nbsp;인공지능</p>
                </div>
                <div class="block-38-body">
                  <p>print("Oh yeah!!!!!!!!!!!!!!!!!!!!")
                    <br>print("AI랑 친함")
                    <br>print("키보드 삿건 가능")
                    <br>print("개발자? 고양이발자?")
                    <br>print("일본어 현지인 수준")
                    <br>print("호주 워홀 갔다옴")
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/jd.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">윤종대</h3>
                  <p class="block-38-subheading">인프라</p>
                </div>
                <div class="block-38-body">
                  <p>#!/bin/bash
                    <br>if [ 노는게 제일 좋음 ]
                    <br>then
                    <br>&nbsp;&nbsp;echo "항상 재미있음"
                    <br>else
                    <br>&nbsp;&nbsp;echo "The Money is Always Right!"
                    <br>fi
                    <br>exit 0
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">회사 소개</a></li>
                  <li><a href="#">챗봇 아르카나</a></li>
                  <li><a href="#">오늘의 운세</a></li>
                  <li><a href="#">구슬 속 이야기</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">타로 마스터 상담</a></li>
                  <li><a href="#">원데이 클래스</a></li>
                  <li><a href="#">굿즈</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">내 정보</a></li>
                  <li><a href="#">카트</a></li>
                  <li><a href="#">고객센터</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="../static/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0"><i>당신의 고민은 무엇인가요?</i></h3>
              <p><b>Promo from</b> &mdash; March 29, 2024</p>
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">서울특별시 도봉구 마들로13길 61 씨드큐브 7층 4반</li>
                <li class="phone"><a href="tel://23923929210">+82 02) 1234-5678</a></li>
                <li class="email">teamArcana@sesac.com</li>
              </ul>
            </div>

            <!-- <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading"><b>Subscribe</b></label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div> -->
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script data-cfasync="false"
                src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/aos.js"></script>

  <script src="../static/js/main.js"></script>

</body>
<script>
  function openPopup() {
    const popupWidth = 600;
    const popupHeight = 800;
    const left = (screen.width - popupWidth) / 2;
    const top = (screen.height - popupHeight) / 2;

    window.open('popup', 'Popup Page', `width=${popupWidth},height=${popupHeight},left=${left},top=${top},scrollbars=yes,status=yes`);

  }
</script>

</html>