<!DOCTYPE html>
<html lang="kr">

<head>
  <title>Tarot Arcana</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/x-icon" href="../static/images/chunsik.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/magnific-popup.css">
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="../static/css/aos.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <script src="../static/js/popup.js"></script>

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <!-- <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form> -->
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">TAROT ARCANA</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <!-- <li><a href="#"><span class="icon icon-person"></span></a></li> -->
                  <li><a href="#" id="openPopup" onclick="openPopup()"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <!-- <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a> -->
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="/fortune">FORTUNE</a>
              <ul class="dropdown">
                <li><a href="">오늘의 운세</a></li>
                <li><a href="">구슬 속 이야기 🔮</a></li>
                <li class="has-children">
                  <a>챗봇 아르카나</a>
                  <ul class="dropdown">
                    <li><a href="#">소개</a></li>
                    <li><a href="/selectmodel">대화하기</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="/about">About</a>
              <!-- <ul class="dropdown">
              </ul> -->
            </li>
            <li><a href="/counseling">Counseling</a></li>
            <li><a href="/class">CLASS</a></li>
            <li><a href="/goods">GOODS</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Counseling</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4">
                  <h2 class="text-black h5"><b>전체보기</b></h2>
                </div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">

                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference"
                      data-toggle="dropdown">분류&nbsp;</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <a class="dropdown-item" href="#">최신순</a>
                      <a class="dropdown-item" href="#">인기순</a>
                      <a class="dropdown-item" href="#">후기순</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">낮은 가격순</a>
                      <a class="dropdown-item" href="#">높은 가격순</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">

              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/firstGame"><img src="../static/images/cloth_1.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/firstGame"><b>루나리움</b></a></h3>
                    <p class="mb-0">유튜브 구독자 40만,<br>전문 타로 마스터!</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 5,830개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="/firstGame"><img src="../static/images/counseling_1.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>타로의 정원</b></a></h3>
                    <p class="mb-0">타로의 정원에서<br>꿈 같은 시간을.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 2,102개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/cloth_5.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>타로달달</b></a></h3>
                    <p class="mb-0">씁쓸한 인간 관계를<br>달달하게 상담해드립니다.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.9 | 후기 3,130개</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/counseling_2.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>신비타로</b></a></h3>
                    <p class="mb-0">당신의 운명을<br>타로 카드로 읽어보세요.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.7 | 후기 1,109개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/cloth_3.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>미스틱 오로라</b></a></h3>
                    <p class="mb-0">잡힐 듯 잡히지 않는<br>미래에 대한 답변을.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 3,911개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/counseling_3.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>타로고양이</b></a></h3>
                    <p class="mb-0">과거, 현재, 미래,<br>그리고 타로 카드.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.8 | 후기 2,472개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/cloth_2.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>솔꿈</b></a></h3>
                    <p class="mb-0">적중률 100%!<br>연애 타로의 달인</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 4,030개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/cloth_4.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>수호타로</b></a></h3>
                    <p class="mb-0">긍정 에너지로<br>희망을 드립니다.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.9 | 후기 3,512개</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/counseling_4.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>타로의 숲</b></a></h3>
                    <p class="mb-0">타로 카드로 엿보는<br>당신의 미래.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 412개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/counseling_5.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>달빛 예언소</b></a></h3>
                    <p class="mb-0">노력과 결과는<br>뗄 수 없는 운명이죠.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.9 | 후기 784개</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/counseling_6.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>타로반짝</b></a></h3>
                    <p class="mb-0">사랑하는 사람,<br>다시 만날 수 있을까요?</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.9 | 후기 1,004개</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single"><img src="../static/images/counseling_7.jpg" alt="Image placeholder"
                        class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single"><b>타로랜드</b></a></h3>
                    <p class="mb-0">오늘의 운세를 찾아<br>모험을 떠나요!</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 312개</p>
                  </div>
                </div>
              </div>


            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="#" class="d-flex"><span>연애/결혼</span> <span
                      class="text-black ml-auto">(25)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>재회</span> <span
                      class="text-black ml-auto">(23)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>취업/진로</span> <span
                      class="text-black ml-auto">(17)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>시험</span> <span
                      class="text-black ml-auto">(23)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>인간관계</span> <span
                      class="text-black ml-auto">(23)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="site-section site-blocks-2">
            <div class="row justify-content-center text-center mb-5">
            </div>
          </div>

          <footer class="site-footer border-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="footer-heading mb-4">Navigations</h3>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <ul class="list-unstyled">
                        <li><a href="#">회사 소개</a></li>
                        <li><a href="#">챗봇 아르카나</a></li>
                        <li><a href="#">오늘의 운세</a></li>
                        <li><a href="#">구슬 속 이야기</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <ul class="list-unstyled">
                        <li><a href="#">타로 마스터 상담</a></li>
                        <li><a href="#">원데이 클래스</a></li>
                        <li><a href="#">굿즈</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <ul class="list-unstyled">
                        <li><a href="#">내 정보</a></li>
                        <li><a href="#">카트</a></li>
                        <li><a href="#">고객센터</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <h3 class="footer-heading mb-4">Promo</h3>
                  <a href="#" class="block-6">
                    <img src="../static/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                    <h3 class="font-weight-light  mb-0"><i>당신의 고민은 무엇인가요?</i></h3>
                    <p><b>Promo from</b> &mdash; March 29, 2024</p>
                  </a>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                      <li class="address">서울특별시 도봉구 마들로13길 61 씨드큐브 7층 4반</li>
                      <li class="phone"><a href="tel://23923929210">+82 02) 1234-5678</a></li>
                      <li class="email">teamArcana@sesac.com</li>
                    </ul>
                  </div>

                  <!-- <div class="block-7">
                    <form action="#" method="post">
                      <label for="email_subscribe" class="footer-heading"><b>Subscribe</b></label>
                      <div class="form-group">
                        <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                        <input type="submit" class="btn btn-sm btn-primary" value="Send">
                      </div>
                    </form>
                  </div> -->
                </div>
              </div>
              <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script data-cfasync="false"
                      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                      target="_blank" class="text-primary">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>

              </div>
            </div>
          </footer>
        </div>

        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../static/js/aos.js"></script>

        <script src="../static/js/main.js"></script>

</body>
<script>
  function openPopup() {
    const popupWidth = 600;
    const popupHeight = 800;
    const left = (screen.width - popupWidth) / 2;
    const top = (screen.height - popupHeight) / 2;

    window.open('popup', 'Popup Page', `width=${popupWidth},height=${popupHeight},left=${left},top=${top},scrollbars=yes,status=yes`);
    
  }
</script>

</html>