<!DOCTYPE html>
<html lang="kr">

<head>
  <title>Taro Arcana</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/x-icon" href="../static/images/chunsik.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/magnific-popup.css">
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="../static/css/aos.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <script src="../static/js/popup.js"></script>

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">TARO ARCANA</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="#"><span class="icon icon-person"></span></a></li>
                  <li><a href="#" id="openPopup"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children active">
              <a href="">FORTUNE</a>
              <ul class="dropdown">
                <li><a href="">오늘의 운세</a></li>
                <li><a href="">구슬 속 이야기 🔮</a></li>
                <li class="has-children">
                  <a>챗봇 아르카나</a>
                  <ul class="dropdown">
                    <li><a href="#">소개</a></li>
                    <li><a href="/selectmodel">대화하기</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a href="/about">About</a>
              <ul class="dropdown">
              </ul>
            </li>
            <li><a href="/counseling">Counseling</a></li>
            <li><a href="/class">CLASS</a></li>
            <li><a href="/goods">GOODS</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="site-blocks-cover" style="background-image: url(../static/images/hero_1.jpg);" data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            <h1 class="mb-2">챗봇, 아르카나<br></h1>
            <div class="intro-text text-center text-md-left">
              <p class="mb-4">모든 고민은 아르카나에게.<br>여러분과 함께 고민하는 챗봇,<br>아르카나입니다.</p>
              <p>
                <a href="/selectmodel" class="btn btn-sm btn-primary">대화하기</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-comments"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase"><b>챗봇, 아르카나</b></h2>
              <p>챗봇 아르카나와 대화해보세요. 아르카나는 고민 상담, 타로 해석까지 할 수 있습니다. 대화를 끝낼 즈음이면 마음이 한결 가벼워질 거예요.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-magic"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase"><b>타로 마스터</b></h2>
              <p>스튜디오 아르카나가 엄선한 타로 마스터 분들과 직접 상담해보세요. 명쾌한 해답으로 불확실한 미래에 작은 등불을 켜주실 거예요.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase"><b>고객 지원</b></h2>
              <p>도움이 필요하신가요? 스튜디오 아르카나의 고객 지원 센터로 연락 주세요. 도움을 드리기 위해 최선을 다하겠습니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="selectmodel.html">
              <figure class="image">
                <img src="../static/images/women.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Chat bot</span>
                <h3><b>아르카나</b></h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="class.html">
              <figure class="image">
                <img src="../static/images/children.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">CLASS</span>
                <h3><b>원데이 클래스</b></h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="goods.html">
              <figure class="image">
                <img src="../static/images/men.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">shop</span>
                <h3><b>굿즈</b></h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2><b>오늘의 추천 상담사</b></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="../static/images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#"><b>루나리움</b></a></h3>
                    <p class="mb-0">유튜브 구독자 40만,<br>전문 타로 마스터!</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 5,830개</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="../static/images/cloth_2.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#"><b>솔꿈</b></a></h3>
                    <p class="mb-0">적중률 100%!<br>연애 타로의 달인</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 4,030개</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="../static/images/cloth_3.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#"><b>미스틱 오로라</b></a></h3>
                    <p class="mb-0">잡힐 듯 잡히지 않는<br>미래에 대한 답변을.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/5.0 | 후기 3,911개</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="../static/images/cloth_4.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#"><b>수호타로</b></a></h3>
                    <p class="mb-0">긍정 에너지로<br>희망을 드립니다.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.9 | 후기 3,512개</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="../static/images/cloth_5.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#"><b>타로달달</b></a></h3>
                    <p class="mb-0">씁쓸한 인간 관계를<br>달달하게 상담해드립니다.</p>
                    <p class="text-primary font-weight-bold">✨ 5.0/4.9 | 후기 3,130개</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-8">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2><b>구슬 속 이야기</b> 🔮</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 mb-5">
            <a href="#"><img src="../static/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
          </div>
          <div class="col-md-12 col-lg-5 text-center pl-md-5">
            <h2><a href="#"><b>꿈은 과연 꿈일까요?</b></a></h2>
            <p class="post-meta mb-4">By <a href="#">드림캐처</a> <span class="block-8-sep">&bullet;</span> April 24, 2024
            </p>
            <p>꿈은 한순간에 사라지기도 하지만,<br>간혹 우리에게 깊은 궤적을 남기기도 하죠.<br>그래서 묻습니다. <i><b>꿈은 과연 꿈일까요?</b></i></p>
            <p><a href="#" class="btn btn-primary btn-sm">보러 가기</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">회사 소개</a></li>
                  <li><a href="#">챗봇 아르카나</a></li>
                  <li><a href="#">오늘의 운세</a></li>
                  <li><a href="#">구슬 속 이야기</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">타로 마스터 상담</a></li>
                  <li><a href="#">원데이 클래스</a></li>
                  <li><a href="#">굿즈</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">내 정보</a></li>
                  <li><a href="#">카트</a></li>
                  <li><a href="#">고객센터</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="../static/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0"><i>당신의 고민은 무엇인가요?</i></h3>
              <p><b>Promo from</b> &mdash; March 29, 2024</p>
            </a>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">서울특별시 도봉구 마들로13길 61 씨드큐브 7층 4반</li>
                <li class="phone"><a href="tel://23923929210">+82 02) 1234-5678</a></li>
                <li class="email">teamArcana@sesac.com</li>
              </ul>
            </div>

            <!-- 구독 버튼 누를시 토글 -->
            <div class="block-7">
              <label for="email_subscribe" class="footer-heading"><b>Subscribe</b></label>
            </div>
            <div class="form-group">
              <button id="toggleButton" class="btn btn-sm btn-primary footer-heading"><b>구독</b></button>
              <form action="#" method="post" id="subscriptionForm" style="display: none;">
                <label for="email">이메일</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="name">이름</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="age">나이</label><br>
                <!-- <input type="text" id="age" name="age"><br> -->
                <select id="age" name="age">
                  <option value="">나이 선택</option>
                  <option value="10대 미만">10대 미만</option>
                  <option value="10대">10대</option>
                  <option value="20대">20대</option>
                  <option value="30대">30대</option>
                  <option value="40대">40대</option>
                  <option value="50대 이상">50대 이상</option>
                </select><br>
                <label for="gender">성별</label><br>
                <select id="gender" name="gender">
                  <option value="">성별 선택</option>
                  <option value="남">남</option>
                  <option value="여">여</option>
                </select><br>
                <label for="favorite_celebrity">좋아하는 연예인</label><br>
                <input type="text" id="favorite_celebrity" name="favorite_celebrity"><br><br>
                <button type="submit" class="btn btn-sm btn-primary footer-heading"
                  id="subscribeButton"><b>구독하기</b></button>
              </form>
            </div>
            <!-- 구독하기 버튼 -->

          </div>

        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
              class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
  </div>
  </footer>
  </div>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/jquery-ui.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/aos.js"></script>

  <script src="../static/js/main.js"></script>

  <!-- 구독하기 클릭시. -->
  <script src="../static/js/subscribe.js"></script>
  <!-- 구독하기 클릭시 -->


</body>

</html>