<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
    <link rel="stylesheet" href="../static/css/popup.css"> <!-- CSS 파일 링크 -->
</head>

<body>

    <div class="popup">
        <div class="popup-content">
            <h2>정보를 입력해주세요.</h2>
            
            <div class="separator"></div> <!-- 회색 줄 추가 -->
                
                <div class="info-input"> <!-- 사용자 정보 입력 영역 -->
                    <form action="/popup" method="post" id="subscriptionForm">
                        <label for="name"><b>이름 (필수)</b></label>
                        <input type="text" id="name" name="name"><br>
                        <!-- 이메일 입력 -->
                        <label for="email"><b>이메일 (필수)</b></label>
                        <input type="email" id="email" name="email" required><br>

                        <!-- 나이 선택 -->
                        <label for="age"><b>나이 (필수)</b></label>
                        <select id="age" name="age">
                            <option value="10대 미만">10대 미만</option>
                            <option value="10대">10대</option>
                            <option value="20대">20대</option>
                            <option value="30대">30대</option>
                            <option value="40대">40대</option>
                            <option value="50대 이상">50대 이상</option>
                        </select><br>

                        <!-- 성별 선택 -->
                        <div class="gender-selection">
                            
                            <label for="gender"><b>성별 (필수)</b></label>
                            <input type="radio" id="gender" name="gender" value="남" checked>
                            <label for="male", value="남">&nbsp;&nbsp;남</label>
                            <input type="radio" id="gender" name="gender" value="여">
                            <label for="female", value="여">&nbsp;&nbsp;여</label><br>
                        </div>

                        <!-- 좋아하는 연예인 입력 -->
                        <label for="celebrity"><b>좋아하는 연예인 (선택)</b></label>
                        <input type="text" id="celebrity" name="celebrity"><br>

                        <!-- 확인 버튼 -->
                        <button type="submit" id="confirmButton subscribeButton"><b>확인</b></button> <!-- id를 openPopup로 변경 -->
                </form>
            </div>
            
        </div>
    </div>

    <script src="../static/js/popup.js"></script> <!-- JavaScript 파일 링크 -->
</body>
</html>
